<html lang="en">
<head>
    <Title>My First React Example</Title>
</head>
<body>
    <div id="container"></div>
    <script src="https://fb.me/react-15.0.0.js"></script>
    <script src="https://fb.me/react-dom-15.0.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/babel">
        class App extends React.Component {
            constructor(props) {
                super(props)

                this.state = { 
					books: [],
					filters: {
						Author: '',
						Title: '',
						PublicationDate: ''
					}
				}
                console.log('Script languages are usless outside of very small projects. If your languge doesnt compile, it sucks')
            }

            componentDidMount() 
            {
                axios.get('https://localhost:44382/api/books')
                .then(response => 
                {
					this.setState({ 
						books: response.data.map(book => ({
							Author: book.Author,
							Title: book.Title,
							PublicationDate: book.PublicationDate,
							checked: false,
						})),
						filters: {
							Author: '',
							Title: '',
							PublicationDate: ''
						}
					})
                })
			}

			put(book,index)
			{
				axios.put('https://localhost:44382/api/books/'+index,book).
				then(r=>this.componentDidMount());
			}
			
			renderBooks()
			{
				try
				{
					if(this.state.books && this.state.books.length>0)
					{
						console.log(this.state.books);
						let id = 0;
						const t =  this.state.books
						.filter(b => {
							console.log(b.Author.includes(this.state.filters.Author)
								&& b.Title.includes(this.state.filters.Title)
								&& b.PublicationDate.includes(this.state.filters.PublicationDate))
							return b.Author.includes(this.state.filters.Author)
								&& b.Title.includes(this.state.filters.Title)
								&& b.PublicationDate.includes(this.state.filters.PublicationDate)
						}).map(x=> {
							x.id = id
							return (
							<div id={id++}>
								<input 
								type="checkbox" 
								value={x.checked}
									onChange={
										e=>
										{
											x.checked = e.target.value;
										}
									}
								 />
								<input 
									type="textbox" 
									value={x.Author}
									onChange={
										e=>
										{
											x.Author = e.target.value;
											this.put(x,x.id);
										}
									}
								/>
								<input 
									type="textbox" 
									value={x.Title}
									onChange={
										e=>
										{
											x.Title = e.target.value;
											this.put(x,x.id);
										}
									}
								/>
								<input 
									type="textbox" 
									value={x.PublicationDate}
									onChange={
										e=>
										{
											x.PublicationDate = e.target.value;
											this.put(x,x.id);
										}
									}
								/>
							</div>
							)
						}
						)
						return <div>{t}</div>;
					}
					
				}
				catch(e)
				{
					console.log(e)
					return null
				}
				return null
			}

			renderFilter()
			{
				const t = (
					<div>
						<input
						 	type="textbox"
							value={this.state.filters.Author}
							onChange=
							{
							(e)=>
								{
									let tmpState = this.state;
									tmpState.filters.Author = e.target.value;
									this.setState(tmpState);
								}
							}
							
						/>
						<input
						 	type="textbox"
							value={this.state.filters.Title}
							onChange=
							{
							(e)=>
								{
									let tmpState = this.state;
									tmpState.filters.Title = e.target.value;
									this.setState(tmpState);
								}
							}
						/>
						<input
						 	type="textbox"
							value={this.state.filters.PublicationDate}
							onChange=
							{
							(e)=>
								{
									let tmpState = this.state;
									tmpState.filters.PublicationDate = e.target.value;
									this.setState(tmpState);
								}
							}
						/>
					</div>
				)
				return t

			}

			renderButtons()
			{
				const t = (
					<div>
						<button
						onClick={
							e=>
							{
								axios.post('https://localhost:44382/api/books',
								{
									Author: '',
									Title: '',
									PublicationDate: '',
								}).then(r=>this.componentDidMount());
								console.log(tmpState);
							}
						}>add</button>
						<button
						onClick={
							e=>
							{
								let tmpState = this.state;
								const books = tmpState.books.filter(x=>x.checked);
								console.log(books);
								let promise = null;
								books.sort(function(a, b){return b.id-a.id}).forEach(element => {
									if(promise === null)
									{
										promise = axios.delete('https://localhost:44382/api/books/'+element.id)
										console.log(1);
									}
									else
									{
										promise = promise.then(r=>axios.delete('https://localhost:44382/api/books/'+element.id));
										console.log(2);
									}
								});
								promise.then(x=>this.componentDidMount())
							}
						}>remove</button>
					</div>)
				return t
			}

            render()
            {
                try 
                {
					const a = this.renderFilter()
					const b = this.renderBooks()
					const c = this.renderButtons()
					if(a!= null && a!=undefined && b != null&&b!=undefined&&c != null&&c!=undefined)
					{
						return (
						<div>
						{a}
						{b}
						{c}
						</div>
						);
					}
					return null
				}
				catch (error) 
				{
					return <div/>
				}
				return null;
            }
        }
        ReactDOM.render(
        <App />,
        document.getElementById('container')
        )
    </script>
</body>
</html>
